<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLAWqmZ_rlhsqd8C4I-zM4r8L-4vauOCc</string>
	<key>GCM_SENDER_ID</key>
	<string>489556255818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hopApp</string>
	<key>PROJECT_ID</key>
	<string>hop-app-v1-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>hop-app-v1-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489556255818:ios:bfabc936a8d5044739f2b3</string>
</dict>
</plist>